:host {
    --width: 150px;
    --height: 60px;
    --span: 8px;
}

.create-button {
    position: relative;
    width: var(--width);
    height: var(--height);

    div {
        position: absolute;
    }

    div:first-child {
        right: 0;
        top: 0;
    }

    div:last-child {
        left: 0;
        bottom: 0;
    }
}
